body {
  background-color: #3a133a;
  color: #ffb3ff;
  font-size: 16px;
}
h1 {
  margin-bottom: 20px;
  border-top: 15px solid #4d004d;
  color: white;
  font-size: 56px;
}
h1 + h2 {
  margin-top: -20px;
}
h2 {
  font-size: 28px;
}
h2 + p {
  margin-top: 36px;
}
