// out: css/main.css, sourcemap: true

// COLOR VARIABLES
@brick: darken(purple, 10%);
@brick-mute: desaturate(@brick, 50%);
@brick-light: lighten(@brick, 70%);

// TYPE VARIABLES

@regular: 16px;
@large: @regular * 1.75;
@x-large: @large * 2;

body {
  background-color: @brick-mute;
  color: @brick-light;
  font-size: @regular
}

h1 {
  margin-bottom: 20px;
  border-top: 15px solid @brick;
  color: white;
  font-size: @x-large;

  + h2 {
    margin-top: -20px;
  }
}

h2 {
  font-size: @large;
}

h2 + p {
  margin-top: 36px;
}
